* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #d9d9d9;
    --color2: #7a7a7a;
    --color3: #414141;
}

body {
    background-color: var(--color1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    display: block;
    width: 100%;
    max-width: 200px;
    max-height: 300px;
}

h1,
h2,
h3 {
    color: var(--color3);
    margin-bottom: 15px;
}

.films {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;

    display: grid;
    grid-gap: 30px;
}

.films>div {
    background-color: #fff;
    padding: 30px;
}

.right {
    display: grid;
    grid-gap: 15px;
}

.films_items {
    display: grid;
    grid-gap: 15px;
}

.films_item {
    border: 1px solid var(--color2);
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.films_item button {
    color: #fff;
}
.films_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.films_info {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}
.films_poster {
    min-height: 300px;
}
.films_information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.films_information p {
    font-weight: bold;
    font-size: 12px;
}
.tag {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.pagination_items {
    justify-content: center;
    list-style-type: none;
    display: flex;
    gap: 7.5px;
    margin: 10px;
}
.pagination_item {
    cursor: pointer;
    padding: 7.5px 15px;
    background-color: var(--color1);
    user-select: none;
}
.pagination_item--active {
    cursor: pointer;
    padding: 7.5px 15px;
    background-color: var(--color2);
}

form {
    display: grid;
    grid-gap: 15px;
}

input,
button,
select {
    padding: 7.5px;
    border: 1px solid var(--color2);
    border-radius: 5px;
    outline: none;
}

button {
    background-color: var(--color2);
    cursor: pointer;
}

button:hover {
    background-color: var(--color3);
}

button:active {
    color: #fff;
}

input:focus,
select:focus {
    background-color: var(--color1);
}

.pageto {
    cursor: pointer;
    padding: 7.5px 15px;
    background-color: var(--color1);
    user-select: none;
}

@media screen and (min-width: 768px) {
    .films {
        grid-template-columns: 1fr 3fr;
    }
}

@media screen and (min-width: 998px) {
    .films_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}